extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa quam, tincidunt non tincidunt in, porta vitae turpis. Donec at placerat libero, at rutrum lacus. Fusce eget elementum magna. 

                p Quisque sagittis, mauris at lacinia fringilla, dui lectus ornare ex, sit amet laoreet velit magna sit amet nisl. Fusce eu augue risus. Phasellus lobortis fermentum arcu et tempus. Proin tempor ipsum quis ante commodo, et porta tellus lobortis. Nullam sit amet tempus mauris, et porta nisi. Donec et mollis mauris. 

                p Mauris elit lacus, iaculis ut augue ac, luctus interdum nisi. Proin facilisis nulla at egestas molestie. Pellentesque quis urna non sapien interdum semper non fermentum purus. In nec tempus nunc, sed ultrices ex. Integer in massa leo. Sed sit amet convallis enim, id accumsan erat. 
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4
                    p Proin tempor ipsum quis ante commodo, et porta tellus lobortis. Nullam sit amet tempus mauris, et porta nisi. Donec et mollis mauris.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4
                    p Proin tempor ipsum quis ante commodo, et porta tellus lobortis. Nullam sit amet tempus mauris, et porta nisi. Donec et mollis mauris. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precio", class="img-fluid mb-4")
                    h2.mb-4
                    p Proin tempor ipsum quis ante commodo, et porta tellus lobortis. Nullam sit amet tempus mauris, et porta nisi. Donec et mollis mauris.  
